  body {
    font-family: Roboto;
    max-width: 100%;
    overflow-x: hidden;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    position: relative;
  }
  h1 {
	 font-size: 60px;
	 line-height: 10px;
	 font-style: normal;
	  font-weight: normal;
	}
	h3 {
	 font-size: 22px;
	 line-height: 10px;
	 font-style: normal;
	  font-weight: normal;
	  }
  .descrip:not(.startButton) {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    justify-content: center;
  }
  .triangleImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(-180deg);
  }
  .triangle {
    display: block;
    margin-left: auto;
    margin-right: auto;
	/* background: transparent;
	  width: 0;
	height: 0;
	border: 0 solid transparent;
	border-right-width: 70px;
	border-left-width: 70px;
	border-bottom: 69px solid #F4BFA1;
	transform: rotate(-180deg); */
  }
  .info {
    scroll-margin: 10px;
    scroll-padding: 10px;
  }
  .startButton {
    margin-left: 0px;
    justify-content: left;
  }
  .container {
    width: 100%;
  }
  button {
    margin-bottom: 10px;
    width: fit-content;
    background: rgba(253, 158, 70, 0.7);
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 10px;
    padding: 8px 20px;
    cursor: pointer;
  }
  .startButton {
    text-align:left;
	  margin-bottom: 10px;
    width: fit-content;
    background: rgba(253, 158, 70, 0.7);
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 10px;
    padding: 8px 20px;
    cursor: pointer;
	  animation: none;

}
@keyframes bgColor {
  12.5% {
    background-color: #FFDDBD;
  }
  25% {
    background-color: #FFAC60;
  }
  37.5% {
    background-color: #FFC086;
  }
  50% {
    background-color: #FF9839;
  }
  62.5% {
    background-color: #FFC086;
  }
  75% {
    background-color: #FFAC60;
  }
  87.5% {
    background-color: #FFDDBD;
  }

}
  textarea {
    background: #E5E5E5;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
  }
	    
  .no-outline:focus {
    outline: none;
  }

  footer {
    text-align: center;
  }
