    body {
    color: black;
    font-family: 'Andada Pro', serif;
    max-width: 100%;
    overflow-x: hidden;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    position: relative;
  }
  h1 {
    color: black;
    margin-top: 60px;
  font-family: 'Inter', sans-serif;
	 font-size: 80px;
	 line-height: 10px;
	 font-style: normal;
	  font-weight: normal;
	}
	h3 {
	 font-size: 32px;
	 line-height: 10px;
	 font-style: normal;
	  font-weight: normal;
	  }
  .toph3 {
    color: black;
  }
  .descrip:not(.startButton) {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    justify-content: center;
  }
  .descrip2 {
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    justify-content: left;
  }
  .triangleImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(-180deg);
  }
  .triangle {
    display: block;
    margin-left: auto;
    margin-right: auto;
	/* background: transparent;
	  width: 0;
	height: 0;
	border: 0 solid transparent;
	border-right-width: 70px;
	border-left-width: 70px;
	border-bottom: 69px solid #F4BFA1;
	transform: rotate(-180deg); */
  }
  .info {
    scroll-margin: 10px;
    scroll-padding: 10px;
  }
  .container {
    width: 100%;
  }
  button {
    margin-bottom: 10px;
    width: fit-content;
    background: #6890C6;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    font-family: 'Andada Pro', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 10px;
    padding: 8px 20px;
    cursor: pointer;
  }
  .startButton {
    /*display: block;*/
    margin-left: 0px;
    justify-content: left;
    text-align:left;
	  margin-bottom: 10px;
    width: fit-content;
    background: rgba(253, 158, 70, 0.7);
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    font-family: 'Andada Pro', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 10px;
    padding: 8px 20px;
    cursor: pointer;
	  animation: none;

}
@keyframes bgColor {
  12.5% {
    background-color: rgb(145, 236, 252);
  }
  25% {
    background-color: #60efff;
  }
  37.5% {
    background-color: #93cbfc;
  }
  50% {
    background-color: #39c4ff;
  }
  62.5% {
    background-color: #7dd6fc;
  }
  75% {
    background-color: hsl(191, 100%, 77%);
  }
  87.5% {
    background-color: #9bfffd;
  }

}
  textarea {
    background: #E9F2FD;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Andada Pro', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    width: 100%;
    resize: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
	    
  .no-outline:focus {
    outline: none;
  }

  footer {
    text-align: center;
  }

  div.item {
    margin-left: auto;
    margin-right: auto;
    /*vertical-align: top;
    display: inline-block;/*
    /*text-align: left;*/
    width: 65%;
    margin: 0 auto;
    display: block;
  }

  .caption {
    display: block;
  }
  .tools {
    display: block;
    margin-top: 10px;
  }
  .toolButton {
    display: inline-block;
  }

  a.button1 {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid black;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family: 'Andada Pro', serif;
    font-weight:300;
    color:black;
    text-align:center;
    transition: all 0.2s;
    cursor: pointer;
  }
  a.button1:hover {
  color:#FFFFFF;
  background-color:black;
  }
  @media all and (max-width:30em) {
    a.button1{
      display:block;
      margin:0.4em auto;
    }
  }
  .aboutHeader {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .inner {
    margin: auto;
    width: 90%
  }
  .outer {
    display: block;
    width: 100%;
  }
  .index {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .body2 {
    color: black;
    font-family: 'Andada Pro', serif;
    max-width: 100%;
    overflow-x: hidden;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    position: relative;
  }
